pyperclip==1.8.2

For Linux, you need to install this additional module xclip or xsel.
For xclip “sudo apt-get install xclip” (Recommended)
For xsel “sudo apt-get install xsel” (Note: xsel does not always seem to work.)
